
html {cursor: url(http://zigfreed.cc.ua/img/cursor/body.cur), default;}
body {cursor: url(http://zigfreed.cc.ua/img/cursor/body.cur), default;}
div {cursor: url(http://zigfreed.cc.ua/img/cursor/body.cur), default;}
a {cursor: url(http://zigfreed.cc.ua/img/cursor/link.cur), default;}
button {cursor: url(http://zigfreed.cc.ua/img/cursor/link.cur), default;}
option {cursor: url(http://zigfreed.cc.ua/img/cursor/link.cur), default;}
img {cursor: url(http://zigfreed.cc.ua/img/cursor/link.cur), default;}
span {cursor: url(http://zigfreed.cc.ua/img/cursor/link.cur), default;}
.btn-theme {cursor: url(http://zigfreed.cc.ua/img/cursor/link.cur), default;}
input {cursor: url(http://zigfreed.cc.ua/img/cursor/input.cur), default;}